version: "3.9"
services:
  api:
    build: .
    ports:
      - "8080:8080"
    # This line loads the .env file into the 'api' container
    env_file: .env
    depends_on:
      - db

  db:
    image: postgres:15
    # These lines read from your .env file to configure Postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5433:5432"