[tool.pytest.ini_options]
pythonpath = "."

[tool.black]
line-length = 88

[tool.ruff]
line-length = 88

[tool.mypy]
strict = true

[[tool.mypy.overrides]]
module = "pydantic_settings"
ignore_missing_imports = true